<div class="nested-fields">
  <div class="form__field">
    <%= post.text_field :hashtag, placeholder:"#hashtag", class:"form__textfield" %>
    <%= post.fields_for :scores do |score| %>
      <%= render 'score_fields', post: score %>
    <% end %>
  </div>
</div>
